    # Python
    __pycache__/
    *.pyc
    *.pyd
    *.pyo
    .Python
    build/
    dist/
    *.egg-info/
    .pytest_cache/
    .coverage

    # Virtual Environment
    venv/
    .venv/
    env/
    .env/

    # IDEs and Editors
    .vscode/
    .idea/
    *.sublime-project
    *.sublime-workspace

    # Operating System Files
    .DS_Store
    Thumbs.db
    ehthumbs.db
    .directory

    # Vercel specific (local build output and config)
    .vercel/
    .next/

    # Render specific (local build output and config)
    .render/

    # Sensitive data (Local environment variables)
    .env # <--- Adicione esta linha para IGNORAR o arquivo .env
    